* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #b7b2b5;
}
	
	
#wrapper{
	max-width: 1000px;
	margin: 0 auto;
	background-color: white;
}	



header img {
	width: 100%;
	display: block;
}

nav {
	background-color: #595858;
}


a.menu {
	display: inline-block;
	max-width: 250px;
	width: 25%;
	padding: 15px 30px;
	color: black;
	text-decoration: none;
    text-align: center;
}
