* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #b7b2b5;
}
	
	
#wrapper{
	max-width: 1000px;
	margin: 0 auto;
	background-color: white;
}	



header img {
	width: 100%;
	display: block;
}

nav {
	background-color: #595858;
}


a.menu {
	display: inline-block;
	max-width: 250px;
	width: 25%;
	padding: 15px 30px;
	color: white;
	text-decoration: none;
    text-align: center;
}

a.menu:hover {
	background-color: #383638;
}

.active {
	background-color: #383638;
}

section h1 {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

section img {
	width: 100%;
	display: block;
	padding: 0 15px 0 15px;
}


article {
	margin-top: 10px;
	margin-bottom: 20px;
}


footer {
	color: white;
	text-align:center;
	background-color: #595858;
}
